index.html
<!DOCTYPE html><html lang="en"><head><meta charset="UTF-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title>Document</title><link rel="stylesheet" href="icon/css/icon.css"><link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"><link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&amp;display=swap" rel="stylesheet"><link rel="stylesheet" href="styles.css"><script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"> </script></head><body><header class="header"><div class="menu"><div class="menu__close"> <i class="icon-cancel"></i></div></div><div class="container"><div class="header__col-wrap"><div class="header__col"><a class="header__logo" href="#"><img src="img/logo.webp" alt=""></a></div><div class="header__col"><ul class="header__nav"><li> <a href="#main" data-scroll>Главная</a></li><li> <a href="#about" data-scroll>О нас</a></li><li> <a href="#services" data-scroll>Услуги</a></li><li> <a href="#partners" data-scroll>Партнеры</a></li><li> <a href="#contacts" data-scroll>Контакты</a></li></ul><div class="feedback-btn"><a class="icon feedback-js" href="#feedback" data-scroll title="Свяжитесь с нами"> <i class="icon-chat">     </i></a><a class="btn btn--orange feedback-js" href="#feedback" data-scroll>Свяжитесь с нами </a></div><div class="hamburger"> <i class="icon-menu-1"> </i></div></div></div></div></header><div class="hero" id="main"><div class="swiper hero-slider"><div class="swiper-wrapper"><div class="swiper-slide"><div class="hero__slide-item" style="background-image: url(img/hero.webp)"><div class="container"><h2>Достанем Любой Товар <br> <span> Стань нашим партнером </span></h2><p><b>Мы решим ваши проблемы с поиском и логистикой <br> любого товара</b></p><p>Станьте главным игроком на Вашем рынке, мы поможем <br> вам в реализации задуманных поставок</p><a class="btn btn--orange feedback-js" href="#feedback" data-scroll>Оставьте заявку</a></div></div></div><div class="swiper-slide"><div class="hero__slide-item" style="background-image: url(img/hero.webp)"><div class="container"><h2>Достанем Любой Товар <br> <span> Стань нашим партнером </span></h2><p><b>Мы решим ваши проблемы с поиском и логистикой <br> любого товара</b></p><p>Станьте главным игроком на Вашем рынке, мы поможем <br> вам в реализации задуманных поставок</p><a class="btn btn--orange feedback-js" href="#feedback" data-scroll>Оставьте заявку</a></div></div></div><div class="swiper-slide"><div class="hero__slide-item" style="background-image: url(img/hero.webp)"><div class="container"><h2>Достанем Любой Товар <br> <span> Стань нашим партнером </span></h2><p><b>Мы решим ваши проблемы с поиском и логистикой <br> любого товара</b></p><p>Станьте главным игроком на Вашем рынке, мы поможем <br> вам в реализации задуманных поставок</p><a class="btn btn--orange feedback-js" href="#feedback" data-scroll>Оставьте заявку</a></div></div></div></div></div><div class="swiper-pagination"></div></div><div class="advantages" id="services"> <div class="title-wrap title-wrap--centered"><h3 class="subtitle"><span></span>Шагайте в будущее с надежными партнерами</h3><h2 class="title"><span>Надежный партнер в ведении бизнеса и достижении <br> поставленных целей!<span class="title-paraphernalia"></span></span></h2></div><div class="container"><div class="advantages__col-wrap"><div class="advantages__col"><div class="advantages__links-wrap"><div class="advantages__link-wrap"><a class="advantages__link" href="#"><div class="advantages__link-img">  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M50 99.2186H10.9375C5.3125 99.2186 0.78125 94.6874 0.78125 89.0624V49.9999C0.78125 48.6717 1.79688 47.6561 3.125 47.6561H14.375C13.125 45.5467 12.5 43.1249 12.5 40.6249C12.5 36.7186 14.0625 33.1249 16.875 30.4686C19.6875 27.8124 23.3594 26.4061 27.2656 26.6405C34.4531 26.953 40.3125 32.8905 40.625 40.1561C40.7031 42.8124 40.0781 45.4686 38.75 47.8124L50 47.6561C51.3281 47.6561 52.3438 48.6717 52.3438 49.9999V61.2499C52.3438 62.9686 51.4062 64.5311 50 65.3124C48.5156 66.1717 46.7969 66.1717 45.3906 65.3124C43.8281 64.453 42.1094 63.9842 40.3125 64.0624C35.4688 64.2186 31.5625 68.1249 31.3281 72.9686C31.1719 75.5467 32.1094 78.0467 33.9062 79.9217C35.7031 81.7967 38.125 82.8124 40.7031 82.8124C42.3438 82.8124 43.9844 82.3436 45.3906 81.5624C46.7969 80.703 48.5938 80.703 50 81.5624C51.4844 82.4217 52.3438 83.9842 52.3438 85.6249V96.8749C52.3438 98.203 51.3281 99.2186 50 99.2186ZM5.46875 52.3436V89.0624C5.46875 92.1092 7.89062 94.5311 10.9375 94.5311H47.6562V85.6249C45.5469 86.8749 43.125 87.4999 40.625 87.4999C36.7188 87.4999 33.125 85.9374 30.4688 83.1249C27.8125 80.3124 26.4062 76.6405 26.6406 72.7342C26.9531 65.5467 32.8906 59.6874 40.1562 59.3749C42.8125 59.2967 45.4688 59.9217 47.8125 61.2499L47.6562 52.3436H38.75C37.0312 52.3436 35.4688 51.4061 34.6875 49.9999C33.9062 48.5936 33.8281 46.7967 34.6875 45.3905C35.5469 43.828 36.0156 42.1092 35.9375 40.3124C35.7812 35.4686 31.875 31.5624 27.0312 31.328C24.4531 31.1717 21.9531 32.1092 20.0781 33.9061C18.2031 35.6249 17.1875 38.0467 17.1875 40.6249C17.1875 42.2655 17.6562 43.9061 18.4375 45.3124C19.2969 46.7186 19.2969 48.5155 18.4375 49.9217C17.5781 51.328 16.0156 52.2655 14.375 52.2655H5.46875V52.3436Z" fill="#FF741F"></path><path d="M89.0625 0.78125H50C48.6719 0.78125 47.6562 1.79688 47.6562 3.125V14.375C47.6562 16.0938 48.5938 17.6562 50 18.4375C51.4844 19.2969 53.2031 19.2969 54.6094 18.4375C56.0156 17.5781 57.6563 17.1875 59.2969 17.1875C61.875 17.1875 64.2969 18.2031 66.0937 20.0781C67.8906 21.9531 68.8281 24.375 68.6719 27.0312C68.4375 31.875 64.4531 35.7812 59.6875 35.9375C57.8906 36.0156 56.1719 35.5469 54.6094 34.6875C53.2031 33.8281 51.4062 33.8281 50 34.6875C48.5156 35.5469 47.6562 37.1094 47.6562 38.75V42.1875C47.6562 43.5156 48.6719 44.5312 50 44.5312C51.3281 44.5312 52.3438 43.5156 52.3438 42.1875L52.2656 38.6719C54.5313 40 57.1875 40.7031 59.9219 40.5469C67.1094 40.2344 73.0469 34.375 73.4375 27.1875C73.5938 23.2812 72.2656 19.6094 69.6094 16.7969C66.875 14.0625 63.2812 12.5 59.375 12.5C56.875 12.5 54.4531 13.125 52.3438 14.375V5.46875H89.0625C92.1094 5.46875 94.5312 7.89062 94.5312 10.9375V47.6562H85.625C83.9062 47.6562 82.3438 48.5938 81.5625 50C80.7031 51.4844 80.7031 53.2031 81.5625 54.6094C82.4219 56.0156 82.8125 57.6562 82.8125 59.2969C82.8125 61.875 81.7969 64.2969 79.9219 66.0938C78.0469 67.8906 75.5469 68.8281 72.9688 68.6719C68.125 68.4375 64.2188 64.4531 64.0625 59.6875C63.9844 57.8906 64.4531 56.1719 65.3125 54.6094C66.1719 53.2031 66.1719 51.4062 65.3125 50C64.4531 48.5156 62.8906 47.6562 61.25 47.6562H57.8125C56.4844 47.6562 55.4688 48.6719 55.4688 50C55.4688 51.3281 56.4844 52.3438 57.8125 52.3438L61.3281 52.2656C60 54.6094 59.2969 57.1875 59.4531 59.9219C59.7656 67.1094 65.625 73.0469 72.8125 73.4375C76.7187 73.5938 80.3906 72.2656 83.2031 69.6094C86.0156 66.9531 87.5781 63.2812 87.5781 59.4531C87.5781 56.9531 86.9531 54.5312 85.7031 52.4219H94.5312V89.1406C94.5312 92.1875 92.1094 94.6094 89.0625 94.6094H57.8125C56.4844 94.6094 55.4688 95.625 55.4688 96.9531C55.4688 98.2812 56.4844 99.2969 57.8125 99.2969H89.0625C94.6875 99.2969 99.2188 94.7656 99.2188 89.1406V10.9375C99.2188 5.3125 94.6875 0.78125 89.0625 0.78125Z" fill="#131921"></path></svg></div><div class="advantages__link-title">Возможность стань <br> частью команды   </div><div class="advantages__link-desc">Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой   </div><div class="advantages__link-arrow">Связаться с нами</div></a></div><div class="advantages__link-wrap"><a class="advantages__link" href="#"><div class="advantages__link-img">  <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny-ps" viewBox="0 0 105 97" width="105" height="97"><defs><clippath id="cp1" clipPathUnits="userSpaceOnUse"><path d="M6.96 -6.91L106.39 3.72L95.77 103.16L-3.67 92.53L6.96 -6.91Z"></path></clippath></defs><style>tspan { white-space:pre }
.shp0 { fill: #131921 }
.shp1 { fill: #ff741f }</style><g id="Clip-Path" clip-path="url(#cp1)"><g id="Layer"><path class="shp0" id="Layer" fill-rule="evenodd" d="M97.99 82.34C97.87 83.49 96.98 84.57 95.79 84.83L47.98 96.28C47.68 96.35 47.28 96.4 46.99 96.37C46.71 96.34 46.33 96.2 46.06 96.08L1.75 74.78C0.63 74.27 -0.02 73.13 0.11 71.87L6.29 14.08C6.42 12.92 7.31 11.85 8.5 11.59L56.31 0.13C57.81 -0.29 59.36 0.65 59.77 2.26C60.19 3.76 59.25 5.32 57.65 5.73L11.83 16.72L6.09 70.47L44.85 89.22L50.59 35.47C50.6 35.38 50.6 35.38 50.6 35.38C50.74 34.12 51.62 33.15 52.81 32.88L92.66 23.31L78.63 16.55L35 26.99L34.08 35.56C33.91 37.2 32.53 38.32 30.9 38.14C29.26 37.97 28.15 36.58 28.33 34.94L29.46 24.35C29.58 23.19 30.47 22.12 31.67 21.86L78.37 10.77C79.07 10.56 79.83 10.73 80.39 10.99L80.48 11L102.64 21.65C103.57 22.04 104.14 22.98 104.23 23.96L104.22 24.06C104.21 24.15 104.19 24.35 104.18 24.44L97.99 82.34ZM97.98 27.97L56.14 38.01L50.62 89.74L92.45 79.7L97.98 27.97Z"></path><path class="shp1" id="Layer" d="M46.48 96.31C46.19 96.28 45.82 96.15 45.55 96.02L1.73 74.77C0.63 74.26 -0.01 73.03 0.11 71.87L6.29 14.07C6.43 12.82 7.3 11.84 8.48 11.57L55.81 0.07C57.39 -0.35 58.91 0.69 59.23 2.19C59.63 3.79 58.6 5.34 57.13 5.67L11.77 16.7L6.03 70.46L48.02 90.83C49.48 91.57 50.07 93.29 49.34 94.67C48.84 95.79 47.62 96.44 46.48 96.31Z"></path></g></g></svg></div><div class="advantages__link-title">E-commerce на <br> любой рынок   </div><div class="advantages__link-desc">Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой</div><div class="advantages__link-arrow">Связаться с нами</div></a></div></div><div class="advantages__item"><div class="advantages__item-title">БОГАТЫЙ ОПЫТ</div><div class="advantages__item-desc">Наша команда владеет более чем 25 годами опыта работы в области исследования и анализа рынков.</div></div><div class="advantages__item"><div class="advantages__item-title">ДОВЕРИЕ МИРОВЫХ ЛИДЕРОВ</div><div class="advantages__item-desc">УкрАгроКонсалт заработал репутацию уважаемого и надежного партнера на региональном и мировом рынке. Наши лидирующие позиции подтверждены многолетним сотрудничеством и доверием клиентов к высокому качеству наших продуктов и услуг.</div></div></div><div class="advantages__col"> <div class="advantages__title">Наши преимущества:</div><div class="advantages__item"><div class="advantages__item-title">НЕЗАВИСИМОСТЬ И ПРОФЕССИОНАЛИЗМ</div><div class="advantages__item-desc">Мы предоставляем достоверную, объективную и независимую информацию и аналитику аграрного сектора Черноморского региона и мира.</div></div><div class="advantages__item"><div class="advantages__item-title">дополнительная сервисная логистика</div><div class="advantages__item-desc">Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой, погрузкой до необходимого места, по запросу наших клиентов и партнеров.</div></div><div class="advantages__links-wrap"><div class="advantages__link-wrap"><a class="advantages__link" href="#"><div class="advantages__link-img">  <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" fill="none"><path d="M50.9375 68.2031C47.5 68.2031 44.6875 65.3906 44.6875 61.9531V55.7031H57.1875V61.9531C57.1875 65.4687 54.375 68.2031 50.9375 68.2031Z" fill="#FF741F"></path><path d="M92.9688 52.8906C91.6406 52.8906 90.625 53.9062 90.625 55.2344V89.0625C90.625 92.1094 88.2031 94.5313 85.1562 94.5313H14.8438C11.7969 94.5313 9.375 92.1094 9.375 89.0625V55.2344C9.375 53.9062 8.35938 52.8906 7.03125 52.8906C5.70312 52.8906 4.6875 53.9062 4.6875 55.2344V89.0625C4.6875 94.6875 9.21875 99.2188 14.8438 99.2188H85.1562C90.7812 99.2188 95.3125 94.6875 95.3125 89.0625V55.2344C95.3125 53.9062 94.2969 52.8906 92.9688 52.8906Z" fill="#131921"></path><path d="M85.1562 17.9688H67.8125V15.625C67.8125 9.60938 62.8906 4.6875 56.875 4.6875H43.125C39.2969 4.6875 35.8594 6.64063 33.8281 9.84375C33.125 10.9375 33.4375 12.4219 34.6094 13.0469C35.7031 13.75 37.1875 13.4375 37.8125 12.2656C38.9844 10.3906 40.9375 9.29687 43.125 9.29687H56.875C60.3125 9.29687 63.125 12.1094 63.125 15.5469V17.8906H14.8438C9.21875 17.8906 4.6875 22.4219 4.6875 28.0469V43.4375C4.6875 44.2969 5.15625 45 5.85938 45.4688C19.4531 53.6719 34.6875 57.8125 50 57.8125C65.3125 57.8125 80.5469 53.75 94.1406 45.5469C94.8438 45.1562 95.3125 44.375 95.3125 43.5156V28.125C95.3125 22.5 90.7812 17.9688 85.1562 17.9688ZM90.625 42.1875C65.4688 56.7188 34.5312 56.7188 9.375 42.1875V28.125C9.375 25.0781 11.7969 22.6562 14.8438 22.6562H85.1562C88.2031 22.6562 90.625 25.0781 90.625 28.125V42.1875Z" fill="#131921"></path></svg></div><div class="advantages__link-title">Все необходимые <br> документы  </div><div class="advantages__link-desc">Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой</div><div class="advantages__link-arrow">Связаться с нами</div></a></div><div class="advantages__link-wrap"><a class="advantages__link" href="#"><div class="advantages__link-img">  <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.7955 29.4526C10.7017 29.4526 9.76424 28.6713 9.52986 27.5776C9.06111 25.4682 9.52987 23.2026 10.7799 21.4838C12.0299 19.6869 14.0611 18.5932 16.1705 18.3588L20.0767 17.9682C21.3267 17.8119 22.4986 18.7494 22.6549 20.0776C22.8111 21.3276 21.8736 22.4994 20.5455 22.6557L16.6392 23.0463C15.7799 23.1244 15.0767 23.5151 14.5299 24.2182C14.0611 24.9213 13.9049 25.7807 14.0611 26.5619C14.3736 27.8119 13.5142 29.0619 12.2642 29.3744C12.108 29.4526 11.9517 29.4526 11.7955 29.4526Z" fill="#FF741F"></path><path d="M62.6592 91.7963C62.1123 91.7963 61.6436 91.6401 61.1748 91.4057L53.8311 87.1088C51.4873 85.7026 48.4405 85.7026 46.0967 87.1088C45.003 87.7338 43.5186 87.4213 42.8936 86.2494C42.2686 85.1557 42.5811 83.6713 43.753 83.0463C47.503 80.8588 52.4248 80.8588 56.253 83.0463L61.7998 86.3276L64.378 80.3901C66.1748 76.3276 70.003 73.5151 74.4561 73.0463L82.8936 72.2651C84.1436 72.1088 85.3154 73.0463 85.4717 74.3744C85.6279 75.6244 84.6904 76.7963 83.3623 76.9526L74.9248 77.7338C72.1905 77.9682 69.7686 79.7651 68.6748 82.2651L65.3155 89.9994C64.8467 91.0932 63.7529 91.7963 62.6592 91.7963Z" fill="#FF741F"></path><path d="M84.9243 58.3597C84.2993 58.3597 83.5961 58.1253 83.2055 57.5784C82.3461 56.6409 82.4243 55.1565 83.4399 54.2972L88.2836 50.0003L83.4399 45.7034C80.0805 42.7347 78.5961 38.2034 79.6118 33.8284L81.2524 26.5628C81.018 26.1722 80.8618 25.6253 80.9399 25.1565C81.0961 23.9065 82.1899 22.8909 83.518 23.0472C84.3774 23.1253 85.0805 23.5159 85.6274 24.219C86.0961 24.9222 86.3305 25.7034 86.0961 26.5628L84.2993 34.844C83.6743 37.5003 84.6118 40.3128 86.643 42.1878L92.9711 47.8128C93.5961 48.3597 93.9868 49.1409 93.9868 50.0003C93.9868 50.8597 93.6743 51.6409 92.9711 52.1878L86.643 57.8128C86.018 58.2034 85.4711 58.3597 84.9243 58.3597Z" fill="#FF741F"></path><path d="M46.4085 33.9062C45.3148 33.9062 44.2991 33.125 44.1429 32.0312C43.9085 30.7812 44.6898 29.5312 46.0179 29.2969C47.346 29.0625 48.6741 28.9062 50.0804 28.9062C51.4085 28.9062 52.4241 29.9219 52.4241 31.25C52.4241 32.5781 51.4085 33.5937 50.0804 33.5937C49.0648 33.5937 47.971 33.6719 46.9554 33.9062C46.721 33.9062 46.5648 33.9062 46.4085 33.9062Z" fill="#FF741F"></path><path d="M36.7188 65.6254C36.0938 65.6254 35.5469 65.391 35.0781 64.9223C31.0938 60.9379 28.9062 55.6254 28.9062 50.0004C28.9062 45.8598 30.0781 41.7973 32.4219 38.3598C33.125 37.266 34.6094 36.9535 35.7031 37.7348C36.7969 38.4379 37.1094 39.9223 36.3281 41.016C34.5312 43.6723 33.5938 46.7973 33.5938 50.0004C33.5938 54.3754 35.3125 58.516 38.4375 61.5629C39.375 62.5004 39.375 63.9848 38.4375 64.8441C37.9688 65.391 37.3438 65.6254 36.7188 65.6254Z" fill="#FF741F"></path><path d="M32.5781 93.3594C31.6406 93.3594 30.7812 92.8125 30.3906 91.9532L27.0312 84.2188C26.6406 83.2813 25.7031 82.5782 24.6094 82.5L16.1719 81.7188C13.9844 81.4844 12.0312 80.3907 10.7812 78.5938C9.53125 76.7969 9.0625 74.6094 9.53125 72.5L11.3281 64.2188C11.5625 63.2032 11.1719 62.1094 10.3906 61.4063L4.0625 55.7813C2.42187 54.375 1.48438 52.2657 1.48438 50.0782C1.48438 47.8907 2.42187 45.8594 4.0625 44.375L10.3906 38.75C11.1719 38.0469 11.5625 36.9532 11.3281 35.9375C11.0156 34.6875 11.875 33.4375 13.125 33.125C14.375 32.8125 15.625 33.6719 15.9375 34.9219C16.5625 37.5782 15.625 40.3907 13.5938 42.2657L7.26562 47.8907C6.64062 48.4375 6.25 49.2188 6.25 50.0782C6.25 50.9375 6.5625 51.7188 7.26562 52.2657L13.5938 57.8907C15.625 59.6875 16.5625 62.5 15.9375 65.2344L14.0625 73.4375C13.9062 74.2969 14.0625 75.0782 14.5313 75.7813C15 76.4844 15.7812 76.875 16.6406 76.9532L25.0781 77.7344C27.8125 77.9688 30.2344 79.7657 31.3281 82.2657L34.6875 90C35.2344 91.1719 34.6875 92.5782 33.4375 93.0469C33.2031 93.2813 32.8906 93.3594 32.5781 93.3594Z" fill="#131921"></path><path d="M62.6592 96.4838C61.3311 96.4838 60.003 96.0932 58.8311 95.4682L51.5655 91.1713C50.628 90.6244 49.5342 90.6244 48.5967 91.1713L41.3311 95.4682C40.2373 96.0932 38.753 95.7807 38.128 94.6088C37.503 93.5151 37.8155 92.0307 38.9873 91.4057L46.253 87.1088C48.5967 85.7026 51.5655 85.7026 53.9873 87.1088L61.253 91.4057C61.9561 91.7963 62.8155 91.9526 63.5967 91.6401C64.378 91.4057 65.003 90.7807 65.3936 89.9994L68.753 82.2651C69.2998 81.0932 70.628 80.5463 71.7998 81.0151C72.9717 81.5619 73.5186 82.8901 73.0498 84.0619L69.6905 91.7963C68.8311 93.8276 67.1123 95.312 65.0811 96.0151C64.2217 96.3276 63.4405 96.4838 62.6592 96.4838Z" fill="#131921"></path><path d="M83.5951 81.6409C82.4233 81.6409 81.4076 80.7034 81.2514 79.5315C81.0951 78.2815 82.0326 77.1097 83.3608 76.9534C84.2201 76.8753 84.9233 76.4847 85.4701 75.7815C85.9389 75.0784 86.1733 74.2972 85.9389 73.4378L84.142 65.1565C83.517 62.5003 84.4545 59.6878 86.4858 57.8128L92.8139 52.1878C93.4389 51.6409 93.8295 50.8597 93.8295 50.0003C93.8295 49.1409 93.517 48.3597 92.8139 47.8128L86.4858 42.1878C84.4545 40.3909 83.517 37.5784 84.142 34.844L85.9389 26.5628C86.0951 25.7034 85.9389 24.9222 85.4701 24.219C85.0014 23.5159 84.2201 23.1253 83.3608 23.0472C82.1108 22.8909 81.0951 21.7972 81.2514 20.469C81.4076 19.219 82.5014 18.2034 83.8295 18.3597C86.017 18.594 87.9701 19.6878 89.2201 21.4847C90.4701 23.2815 90.9389 25.469 90.4701 27.5784L88.6733 35.8597C88.4389 36.8753 88.8295 37.969 89.6108 38.6722L95.9389 44.2972C97.5795 45.7034 98.517 47.8128 98.517 50.0003C98.517 52.1878 97.5795 54.219 95.9389 55.7034L89.6108 61.3284C88.8295 62.0315 88.4389 63.1253 88.6733 64.1409L90.4701 72.4222C90.9389 74.5315 90.4701 76.7972 89.2201 78.5159C87.9701 80.3128 85.9389 81.4065 83.8295 81.6409C83.7514 81.6409 83.6733 81.6409 83.5951 81.6409Z" fill="#131921"></path><path d="M70.8627 19.1411C69.9252 19.1411 69.0659 18.5942 68.6752 17.7348L65.3158 10.0004C65.0033 9.21919 64.3784 8.67231 63.519 8.35981C62.7377 8.12544 61.8784 8.20356 61.1752 8.59419L53.9096 12.8911C51.5658 14.2973 48.5971 14.2973 46.1752 12.8911L38.8315 8.59419C38.1283 8.20356 37.269 8.04731 36.4877 8.35981C35.7065 8.59419 35.0815 9.21919 34.6908 10.0004C34.144 11.1723 32.8158 11.7192 31.644 11.2504C30.4721 10.7036 29.9252 9.37544 30.394 8.20356C31.2533 6.09419 32.9721 4.53169 35.0033 3.90669C37.0346 3.20356 39.3002 3.51606 41.1752 4.60981L48.4408 8.90669C49.3783 9.45356 50.4721 9.45356 51.4096 8.90669L58.6752 4.60981C60.5502 3.51606 62.8158 3.28169 64.8471 3.90669C66.8783 4.53169 68.5971 6.09419 69.4565 8.12544L72.8158 15.8598C73.3627 17.0317 72.8158 18.4379 71.5658 18.9067C71.4877 19.0629 71.1752 19.1411 70.8627 19.1411Z" fill="#131921"></path><path d="M96.875 99.2191C96.25 99.2191 95.7031 98.9847 95.2344 98.5159L86.9531 90.3128C86.0156 89.3753 86.0156 87.8909 86.9531 87.0316C87.8906 86.1722 89.375 86.0941 90.2344 87.0316L98.5156 95.2347C99.4531 96.1722 99.4531 97.6566 98.5156 98.5159C98.0469 98.9847 97.5 99.2191 96.875 99.2191Z" fill="#131921"></path><path d="M90.625 11.7188C90 11.7188 89.4531 11.4844 88.9844 11.0156C88.0469 10.0781 88.0469 8.59375 88.9844 7.73437L95.2344 1.48438C96.1719 0.546875 97.6562 0.546875 98.5156 1.48438C99.4531 2.42188 99.4531 3.90625 98.5156 4.76562L92.2656 11.0156C91.7969 11.4844 91.25 11.7188 90.625 11.7188Z" fill="#131921"></path><path d="M10.3906 12.7344C9.76562 12.7344 9.21875 12.5 8.75 12.0312L1.48438 4.76562C0.546875 3.82812 0.546875 2.34375 1.48438 1.48438C2.34375 0.546875 3.90625 0.546875 4.76562 1.48438L12.0312 8.75C12.9688 9.6875 12.9688 11.1719 12.0312 12.0312C11.6406 12.5 11.0156 12.7344 10.3906 12.7344Z" fill="#FF741F"></path><path d="M18.75 5.46875C20.0444 5.46875 21.0938 4.41942 21.0938 3.125C21.0938 1.83058 20.0444 0.78125 18.75 0.78125C17.4556 0.78125 16.4062 1.83058 16.4062 3.125C16.4062 4.41942 17.4556 5.46875 18.75 5.46875Z" fill="#FF741F"></path></svg></div><div class="advantages__link-title">E-commerce на <br> любой рынок   </div><div class="advantages__link-desc">Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой</div><div class="advantages__link-arrow">Связаться с нами</div></a></div></div></div></div><div class="counts"><div class="counts__item-wrap"><div class="counts__item"><div class="count">5</div><div class="counts__title">лет опыта на <br> рынке</div></div><div class="counts__item"><div class="count">1745</div><div class="counts__title">выполненных <br> проектов</div></div><div class="counts__item"><div class="count">237</div><div class="counts__title">проверенных <br> поставщиков</div></div><div class="counts__item"><div class="count">14</div><div class="counts__title">стран <br> поставщиков</div></div></div></div></div></div><div class="providers" id="partners"><div class="title-wrap title-wrap--centered"><h2 class="title"><span>Наши поставщики<span class="title-paraphernalia"> </span></span></h2></div><div class="providers__slider"> <div class="swiper providers-slider"><div class="swiper-wrapper"><div class="swiper-slide"><div class="providers__item"><img src="img/brand1.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand2.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand3.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand4.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand5.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand6.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand7.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand8.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand9.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand10.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand11.webp" alt=""></div></div><div class="swiper-slide"><div class="providers__item"><img src="img/brand12.webp" alt=""></div></div></div></div></div></div><div class="about" id="about"><div class="container"><div class="title-wrap title-wrap--left"><h2 class="title"><span>О компании<span class="title-paraphernalia"></span></span></h2></div></div><div class="about__wrap"> <div class="container">     <div class="about__desc"> <p>AZOR Импорт поддерживает международные компании при выходе на рынки России, Германии, Турции, Беларуси, Казахстана, России, Украины и Узбекистана, а также помогает им эффективно строить работу в новых юрисдикциях.</p><p>В портфолио AZOR Импорт полный набор услуг, начиная от анализа рынка и поиска партнеров, до комплексного бухгалтерского сопровождения, юридического и налогового консалтинга, анализа эффективности бизнес-процессов и их оптимизации на основе лучших цифровых решений. Мы берем на себя решение всех непрофильных задач, чтобы наши клиенты могли сфокусироваться на развитии бизнеса.</p><p>Свяжитесь с нашими экспертами, чтобы получить подробную информацию об оказании интересующих Вас услуг в конкретной стране.</p></div></div><div class="about__bg"> <img src="img/about.webp" alt=""></div></div><div class="feedback" id="feedback"><div class="container"><div class="feedback__col-wrap"><div class="feedback__col"><div class="title-wrap title-wrap--left"><h2 class="title"><span>Свяжитесь с нами <br> для сотрудничества <span class="title-paraphernalia"></span></span></h2></div><div class="feedback__desc">  <p>Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой, погрузкой до необходимого места, по запросу наших клиентов и партнеров.</p></div></div><div class="feedback__col"><div class="feedback__form-title">Заполните форму <br> для обратной связи</div><form class="feedback__form"><div class="feedback__form-group"><div class="select"> <input class="select__input" type="hidden" value="Физическое лицо"><div class="select__selected">Физическое лицо</div><div class="select__dropdown"><div class="select__option" data-value="Физическое лицо">Физическое лицо</div><div class="select__option" data-value="Юридическое лицо">Юридическое лицо</div></div></div></div><div class="feedback__form-group"><input type="text" name="email" placeholder="Email" id="email"></div><div class="feedback__form-group"><input type="text" name="Имя/Компания" placeholder="Имя/Компания"></div><div class="feedback__form-group"><input type="text" name="Номер телефона" placeholder="Номер телефона"></div><button class="btn btn--dark" type="submit">Отправить  </button></form></div></div></div></div></div><footer class="footer" id="contacts"><div class="footer__top"><div class="container"><div class="footer__col-wrap"><div class="footer__col"><a class="footer__logo" href="#"><img src="img/footer-logo.webp" alt=""></a><div class="footer__info"> <p>Эффективно решаем задачи экспорта в Россию и ЕАЭС <br> благодаря международной экспертизе и  широкому пулу <br> партнеров и подрядчиков в странах нашего присутствия. </p></div><ul class="social"><li><a href="#"><i class="icon-paper-plane"></i></a></li><li><a href="#"><i class="icon-whatsapp"></i></a></li><li><a href="#"><i class="icon-instagram"></i></a></li><li><a href="#"><i class="icon-facebook"></i></a></li><li><a href="#"><i class="icon-youtube-play"></i></a></li></ul></div><div class="footer__col"><div id="map"></div></div></div></div></div><div class="footer__bottom"><div class="container"><div class="footer__col-wrap"><div class="footer__col">© 2022 AZOR. Все права защищены.</div><div class="footer__col"> <a href="#">Договор оферты</a><a href="#">Пользовательское соглашение </a></div></div></div></div></footer><script src="https://code.jquery.com/jquery-3.6.0.js">  </script><script src="https://unpkg.com/swiper@8/swiper-bundle.min.js">  </script><script src="scripts.js"></script></body></html>

index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="icon/css/icon.css")
    link(rel="stylesheet", href="https://unpkg.com/swiper@8/swiper-bundle.min.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="styles.css")
    script(src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full") 
  body
    header.header
      .menu
        .menu__close  
          i.icon-cancel
         
      .container
        .header__col-wrap
          .header__col
            a(href="#").header__logo
              img(src="img/logo.webp", alt="")
          .header__col
            ul.header__nav
              mixin nav(item, link)
                li 
                  a(href=link data-scroll)=item     
              +nav('Главная','#main')    
              +nav('О нас','#about')    
              +nav('Услуги','#services')    
              +nav('Партнеры','#partners')    
              +nav('Контакты','#contacts')
            .feedback-btn
              a(href="#feedback" data-scroll title="Свяжитесь с нами").icon.feedback-js 
                i.icon-chat      
              a(href="#feedback" data-scroll).btn.btn--orange.feedback-js Свяжитесь с нами 
            .hamburger  
              i.icon-menu-1 
    .hero#main
      .swiper.hero-slider
        .swiper-wrapper
          mixin slider(title, desc, img)
            .swiper-slide
              .hero__slide-item(style=`background-image: url(img/${img}.webp)`)
                .container
                  h2!=title 
                  !=desc      
                  a(href="#feedback" data-scroll).btn.btn--orange.feedback-js Оставьте заявку
          +slider('Достанем Любой Товар <br> <span> Стань нашим партнером </span>','<p><b>Мы решим ваши проблемы с поиском и логистикой <br> любого товара</b></p><p>Станьте главным игроком на Вашем рынке, мы поможем <br> вам в реализации задуманных поставок</p>', 'hero')
          +slider('Достанем Любой Товар <br> <span> Стань нашим партнером </span>','<p><b>Мы решим ваши проблемы с поиском и логистикой <br> любого товара</b></p><p>Станьте главным игроком на Вашем рынке, мы поможем <br> вам в реализации задуманных поставок</p>', 'hero')
          +slider('Достанем Любой Товар <br> <span> Стань нашим партнером </span>','<p><b>Мы решим ваши проблемы с поиском и логистикой <br> любого товара</b></p><p>Станьте главным игроком на Вашем рынке, мы поможем <br> вам в реализации задуманных поставок</p>', 'hero')
            
      .swiper-pagination

    .advantages#services 
      .title-wrap.title-wrap--centered
        h3.subtitle
          span
          | Шагайте в будущее с надежными партнерами
        h2.title
          span Надежный партнер в ведении бизнеса и достижении <br> поставленных целей!
            span.title-paraphernalia
      .container
        .advantages__col-wrap
          .advantages__col
            .advantages__links-wrap
              .advantages__link-wrap
                a(href="#").advantages__link
                  .advantages__link-img   
                    svg(width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M50 99.2186H10.9375C5.3125 99.2186 0.78125 94.6874 0.78125 89.0624V49.9999C0.78125 48.6717 1.79688 47.6561 3.125 47.6561H14.375C13.125 45.5467 12.5 43.1249 12.5 40.6249C12.5 36.7186 14.0625 33.1249 16.875 30.4686C19.6875 27.8124 23.3594 26.4061 27.2656 26.6405C34.4531 26.953 40.3125 32.8905 40.625 40.1561C40.7031 42.8124 40.0781 45.4686 38.75 47.8124L50 47.6561C51.3281 47.6561 52.3438 48.6717 52.3438 49.9999V61.2499C52.3438 62.9686 51.4062 64.5311 50 65.3124C48.5156 66.1717 46.7969 66.1717 45.3906 65.3124C43.8281 64.453 42.1094 63.9842 40.3125 64.0624C35.4688 64.2186 31.5625 68.1249 31.3281 72.9686C31.1719 75.5467 32.1094 78.0467 33.9062 79.9217C35.7031 81.7967 38.125 82.8124 40.7031 82.8124C42.3438 82.8124 43.9844 82.3436 45.3906 81.5624C46.7969 80.703 48.5938 80.703 50 81.5624C51.4844 82.4217 52.3438 83.9842 52.3438 85.6249V96.8749C52.3438 98.203 51.3281 99.2186 50 99.2186ZM5.46875 52.3436V89.0624C5.46875 92.1092 7.89062 94.5311 10.9375 94.5311H47.6562V85.6249C45.5469 86.8749 43.125 87.4999 40.625 87.4999C36.7188 87.4999 33.125 85.9374 30.4688 83.1249C27.8125 80.3124 26.4062 76.6405 26.6406 72.7342C26.9531 65.5467 32.8906 59.6874 40.1562 59.3749C42.8125 59.2967 45.4688 59.9217 47.8125 61.2499L47.6562 52.3436H38.75C37.0312 52.3436 35.4688 51.4061 34.6875 49.9999C33.9062 48.5936 33.8281 46.7967 34.6875 45.3905C35.5469 43.828 36.0156 42.1092 35.9375 40.3124C35.7812 35.4686 31.875 31.5624 27.0312 31.328C24.4531 31.1717 21.9531 32.1092 20.0781 33.9061C18.2031 35.6249 17.1875 38.0467 17.1875 40.6249C17.1875 42.2655 17.6562 43.9061 18.4375 45.3124C19.2969 46.7186 19.2969 48.5155 18.4375 49.9217C17.5781 51.328 16.0156 52.2655 14.375 52.2655H5.46875V52.3436Z' fill='#FF741F')
                      path(d='M89.0625 0.78125H50C48.6719 0.78125 47.6562 1.79688 47.6562 3.125V14.375C47.6562 16.0938 48.5938 17.6562 50 18.4375C51.4844 19.2969 53.2031 19.2969 54.6094 18.4375C56.0156 17.5781 57.6563 17.1875 59.2969 17.1875C61.875 17.1875 64.2969 18.2031 66.0937 20.0781C67.8906 21.9531 68.8281 24.375 68.6719 27.0312C68.4375 31.875 64.4531 35.7812 59.6875 35.9375C57.8906 36.0156 56.1719 35.5469 54.6094 34.6875C53.2031 33.8281 51.4062 33.8281 50 34.6875C48.5156 35.5469 47.6562 37.1094 47.6562 38.75V42.1875C47.6562 43.5156 48.6719 44.5312 50 44.5312C51.3281 44.5312 52.3438 43.5156 52.3438 42.1875L52.2656 38.6719C54.5313 40 57.1875 40.7031 59.9219 40.5469C67.1094 40.2344 73.0469 34.375 73.4375 27.1875C73.5938 23.2812 72.2656 19.6094 69.6094 16.7969C66.875 14.0625 63.2812 12.5 59.375 12.5C56.875 12.5 54.4531 13.125 52.3438 14.375V5.46875H89.0625C92.1094 5.46875 94.5312 7.89062 94.5312 10.9375V47.6562H85.625C83.9062 47.6562 82.3438 48.5938 81.5625 50C80.7031 51.4844 80.7031 53.2031 81.5625 54.6094C82.4219 56.0156 82.8125 57.6562 82.8125 59.2969C82.8125 61.875 81.7969 64.2969 79.9219 66.0938C78.0469 67.8906 75.5469 68.8281 72.9688 68.6719C68.125 68.4375 64.2188 64.4531 64.0625 59.6875C63.9844 57.8906 64.4531 56.1719 65.3125 54.6094C66.1719 53.2031 66.1719 51.4062 65.3125 50C64.4531 48.5156 62.8906 47.6562 61.25 47.6562H57.8125C56.4844 47.6562 55.4688 48.6719 55.4688 50C55.4688 51.3281 56.4844 52.3438 57.8125 52.3438L61.3281 52.2656C60 54.6094 59.2969 57.1875 59.4531 59.9219C59.7656 67.1094 65.625 73.0469 72.8125 73.4375C76.7187 73.5938 80.3906 72.2656 83.2031 69.6094C86.0156 66.9531 87.5781 63.2812 87.5781 59.4531C87.5781 56.9531 86.9531 54.5312 85.7031 52.4219H94.5312V89.1406C94.5312 92.1875 92.1094 94.6094 89.0625 94.6094H57.8125C56.4844 94.6094 55.4688 95.625 55.4688 96.9531C55.4688 98.2812 56.4844 99.2969 57.8125 99.2969H89.0625C94.6875 99.2969 99.2188 94.7656 99.2188 89.1406V10.9375C99.2188 5.3125 94.6875 0.78125 89.0625 0.78125Z' fill='#131921')
                  .advantages__link-title Возможность стань <br> частью команды   
                  .advantages__link-desc Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой   
                  .advantages__link-arrow Связаться с нами
                    
              .advantages__link-wrap
                a(href="#").advantages__link
                  .advantages__link-img   
                    svg(xmlns='http://www.w3.org/2000/svg' version='1.2' baseProfile='tiny-ps' viewBox='0 0 105 97' width='105' height='97')
                      defs
                        clippath#cp1(clipPathUnits='userSpaceOnUse')
                          path(d='M6.96 -6.91L106.39 3.72L95.77 103.16L-3.67 92.53L6.96 -6.91Z')
                      style.
                        tspan { white-space:pre }
                        .shp0 { fill: #131921 }
                        .shp1 { fill: #ff741f }
                      g#Clip-Path(clip-path='url(#cp1)')
                        g#Layer
                          path#Layer.shp0(fill-rule='evenodd' d='M97.99 82.34C97.87 83.49 96.98 84.57 95.79 84.83L47.98 96.28C47.68 96.35 47.28 96.4 46.99 96.37C46.71 96.34 46.33 96.2 46.06 96.08L1.75 74.78C0.63 74.27 -0.02 73.13 0.11 71.87L6.29 14.08C6.42 12.92 7.31 11.85 8.5 11.59L56.31 0.13C57.81 -0.29 59.36 0.65 59.77 2.26C60.19 3.76 59.25 5.32 57.65 5.73L11.83 16.72L6.09 70.47L44.85 89.22L50.59 35.47C50.6 35.38 50.6 35.38 50.6 35.38C50.74 34.12 51.62 33.15 52.81 32.88L92.66 23.31L78.63 16.55L35 26.99L34.08 35.56C33.91 37.2 32.53 38.32 30.9 38.14C29.26 37.97 28.15 36.58 28.33 34.94L29.46 24.35C29.58 23.19 30.47 22.12 31.67 21.86L78.37 10.77C79.07 10.56 79.83 10.73 80.39 10.99L80.48 11L102.64 21.65C103.57 22.04 104.14 22.98 104.23 23.96L104.22 24.06C104.21 24.15 104.19 24.35 104.18 24.44L97.99 82.34ZM97.98 27.97L56.14 38.01L50.62 89.74L92.45 79.7L97.98 27.97Z')
                          path#Layer.shp1(d='M46.48 96.31C46.19 96.28 45.82 96.15 45.55 96.02L1.73 74.77C0.63 74.26 -0.01 73.03 0.11 71.87L6.29 14.07C6.43 12.82 7.3 11.84 8.48 11.57L55.81 0.07C57.39 -0.35 58.91 0.69 59.23 2.19C59.63 3.79 58.6 5.34 57.13 5.67L11.77 16.7L6.03 70.46L48.02 90.83C49.48 91.57 50.07 93.29 49.34 94.67C48.84 95.79 47.62 96.44 46.48 96.31Z')


                  .advantages__link-title E-commerce на <br> любой рынок   
                  .advantages__link-desc Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой
                  .advantages__link-arrow Связаться с нами
                    
            mixin advantages(title, desc)
              .advantages__item
                .advantages__item-title!=title
                .advantages__item-desc!=desc
            +advantages('БОГАТЫЙ ОПЫТ','Наша команда владеет более чем 25 годами опыта работы в области исследования и анализа рынков.')    
            +advantages('ДОВЕРИЕ МИРОВЫХ ЛИДЕРОВ', 'УкрАгроКонсалт заработал репутацию уважаемого и надежного партнера на региональном и мировом рынке. Наши лидирующие позиции подтверждены многолетним сотрудничеством и доверием клиентов к высокому качеству наших продуктов и услуг.')
          .advantages__col 
            .advantages__title Наши преимущества:
            +advantages('НЕЗАВИСИМОСТЬ И ПРОФЕССИОНАЛИЗМ', 'Мы предоставляем достоверную, объективную и независимую информацию и аналитику аграрного сектора Черноморского региона и мира.')
            +advantages('дополнительная сервисная логистика', 'Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой, погрузкой до необходимого места, по запросу наших клиентов и партнеров.')

            .advantages__links-wrap
              .advantages__link-wrap
                a(href="#").advantages__link
                  .advantages__link-img   
                    svg(xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' fill='none')
                      path(d='M50.9375 68.2031C47.5 68.2031 44.6875 65.3906 44.6875 61.9531V55.7031H57.1875V61.9531C57.1875 65.4687 54.375 68.2031 50.9375 68.2031Z' fill='#FF741F')
                      path(d='M92.9688 52.8906C91.6406 52.8906 90.625 53.9062 90.625 55.2344V89.0625C90.625 92.1094 88.2031 94.5313 85.1562 94.5313H14.8438C11.7969 94.5313 9.375 92.1094 9.375 89.0625V55.2344C9.375 53.9062 8.35938 52.8906 7.03125 52.8906C5.70312 52.8906 4.6875 53.9062 4.6875 55.2344V89.0625C4.6875 94.6875 9.21875 99.2188 14.8438 99.2188H85.1562C90.7812 99.2188 95.3125 94.6875 95.3125 89.0625V55.2344C95.3125 53.9062 94.2969 52.8906 92.9688 52.8906Z' fill='#131921')
                      path(d='M85.1562 17.9688H67.8125V15.625C67.8125 9.60938 62.8906 4.6875 56.875 4.6875H43.125C39.2969 4.6875 35.8594 6.64063 33.8281 9.84375C33.125 10.9375 33.4375 12.4219 34.6094 13.0469C35.7031 13.75 37.1875 13.4375 37.8125 12.2656C38.9844 10.3906 40.9375 9.29687 43.125 9.29687H56.875C60.3125 9.29687 63.125 12.1094 63.125 15.5469V17.8906H14.8438C9.21875 17.8906 4.6875 22.4219 4.6875 28.0469V43.4375C4.6875 44.2969 5.15625 45 5.85938 45.4688C19.4531 53.6719 34.6875 57.8125 50 57.8125C65.3125 57.8125 80.5469 53.75 94.1406 45.5469C94.8438 45.1562 95.3125 44.375 95.3125 43.5156V28.125C95.3125 22.5 90.7812 17.9688 85.1562 17.9688ZM90.625 42.1875C65.4688 56.7188 34.5312 56.7188 9.375 42.1875V28.125C9.375 25.0781 11.7969 22.6562 14.8438 22.6562H85.1562C88.2031 22.6562 90.625 25.0781 90.625 28.125V42.1875Z' fill='#131921')
                  .advantages__link-title Все необходимые <br> документы  
                  .advantages__link-desc Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой
                  .advantages__link-arrow Связаться с нами
                    
              .advantages__link-wrap
                a(href="#").advantages__link
                  .advantages__link-img   
                    svg(width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg')
                      path(d='M11.7955 29.4526C10.7017 29.4526 9.76424 28.6713 9.52986 27.5776C9.06111 25.4682 9.52987 23.2026 10.7799 21.4838C12.0299 19.6869 14.0611 18.5932 16.1705 18.3588L20.0767 17.9682C21.3267 17.8119 22.4986 18.7494 22.6549 20.0776C22.8111 21.3276 21.8736 22.4994 20.5455 22.6557L16.6392 23.0463C15.7799 23.1244 15.0767 23.5151 14.5299 24.2182C14.0611 24.9213 13.9049 25.7807 14.0611 26.5619C14.3736 27.8119 13.5142 29.0619 12.2642 29.3744C12.108 29.4526 11.9517 29.4526 11.7955 29.4526Z' fill='#FF741F')
                      path(d='M62.6592 91.7963C62.1123 91.7963 61.6436 91.6401 61.1748 91.4057L53.8311 87.1088C51.4873 85.7026 48.4405 85.7026 46.0967 87.1088C45.003 87.7338 43.5186 87.4213 42.8936 86.2494C42.2686 85.1557 42.5811 83.6713 43.753 83.0463C47.503 80.8588 52.4248 80.8588 56.253 83.0463L61.7998 86.3276L64.378 80.3901C66.1748 76.3276 70.003 73.5151 74.4561 73.0463L82.8936 72.2651C84.1436 72.1088 85.3154 73.0463 85.4717 74.3744C85.6279 75.6244 84.6904 76.7963 83.3623 76.9526L74.9248 77.7338C72.1905 77.9682 69.7686 79.7651 68.6748 82.2651L65.3155 89.9994C64.8467 91.0932 63.7529 91.7963 62.6592 91.7963Z' fill='#FF741F')
                      path(d='M84.9243 58.3597C84.2993 58.3597 83.5961 58.1253 83.2055 57.5784C82.3461 56.6409 82.4243 55.1565 83.4399 54.2972L88.2836 50.0003L83.4399 45.7034C80.0805 42.7347 78.5961 38.2034 79.6118 33.8284L81.2524 26.5628C81.018 26.1722 80.8618 25.6253 80.9399 25.1565C81.0961 23.9065 82.1899 22.8909 83.518 23.0472C84.3774 23.1253 85.0805 23.5159 85.6274 24.219C86.0961 24.9222 86.3305 25.7034 86.0961 26.5628L84.2993 34.844C83.6743 37.5003 84.6118 40.3128 86.643 42.1878L92.9711 47.8128C93.5961 48.3597 93.9868 49.1409 93.9868 50.0003C93.9868 50.8597 93.6743 51.6409 92.9711 52.1878L86.643 57.8128C86.018 58.2034 85.4711 58.3597 84.9243 58.3597Z' fill='#FF741F')
                      path(d='M46.4085 33.9062C45.3148 33.9062 44.2991 33.125 44.1429 32.0312C43.9085 30.7812 44.6898 29.5312 46.0179 29.2969C47.346 29.0625 48.6741 28.9062 50.0804 28.9062C51.4085 28.9062 52.4241 29.9219 52.4241 31.25C52.4241 32.5781 51.4085 33.5937 50.0804 33.5937C49.0648 33.5937 47.971 33.6719 46.9554 33.9062C46.721 33.9062 46.5648 33.9062 46.4085 33.9062Z' fill='#FF741F')
                      path(d='M36.7188 65.6254C36.0938 65.6254 35.5469 65.391 35.0781 64.9223C31.0938 60.9379 28.9062 55.6254 28.9062 50.0004C28.9062 45.8598 30.0781 41.7973 32.4219 38.3598C33.125 37.266 34.6094 36.9535 35.7031 37.7348C36.7969 38.4379 37.1094 39.9223 36.3281 41.016C34.5312 43.6723 33.5938 46.7973 33.5938 50.0004C33.5938 54.3754 35.3125 58.516 38.4375 61.5629C39.375 62.5004 39.375 63.9848 38.4375 64.8441C37.9688 65.391 37.3438 65.6254 36.7188 65.6254Z' fill='#FF741F')
                      path(d='M32.5781 93.3594C31.6406 93.3594 30.7812 92.8125 30.3906 91.9532L27.0312 84.2188C26.6406 83.2813 25.7031 82.5782 24.6094 82.5L16.1719 81.7188C13.9844 81.4844 12.0312 80.3907 10.7812 78.5938C9.53125 76.7969 9.0625 74.6094 9.53125 72.5L11.3281 64.2188C11.5625 63.2032 11.1719 62.1094 10.3906 61.4063L4.0625 55.7813C2.42187 54.375 1.48438 52.2657 1.48438 50.0782C1.48438 47.8907 2.42187 45.8594 4.0625 44.375L10.3906 38.75C11.1719 38.0469 11.5625 36.9532 11.3281 35.9375C11.0156 34.6875 11.875 33.4375 13.125 33.125C14.375 32.8125 15.625 33.6719 15.9375 34.9219C16.5625 37.5782 15.625 40.3907 13.5938 42.2657L7.26562 47.8907C6.64062 48.4375 6.25 49.2188 6.25 50.0782C6.25 50.9375 6.5625 51.7188 7.26562 52.2657L13.5938 57.8907C15.625 59.6875 16.5625 62.5 15.9375 65.2344L14.0625 73.4375C13.9062 74.2969 14.0625 75.0782 14.5313 75.7813C15 76.4844 15.7812 76.875 16.6406 76.9532L25.0781 77.7344C27.8125 77.9688 30.2344 79.7657 31.3281 82.2657L34.6875 90C35.2344 91.1719 34.6875 92.5782 33.4375 93.0469C33.2031 93.2813 32.8906 93.3594 32.5781 93.3594Z' fill='#131921')
                      path(d='M62.6592 96.4838C61.3311 96.4838 60.003 96.0932 58.8311 95.4682L51.5655 91.1713C50.628 90.6244 49.5342 90.6244 48.5967 91.1713L41.3311 95.4682C40.2373 96.0932 38.753 95.7807 38.128 94.6088C37.503 93.5151 37.8155 92.0307 38.9873 91.4057L46.253 87.1088C48.5967 85.7026 51.5655 85.7026 53.9873 87.1088L61.253 91.4057C61.9561 91.7963 62.8155 91.9526 63.5967 91.6401C64.378 91.4057 65.003 90.7807 65.3936 89.9994L68.753 82.2651C69.2998 81.0932 70.628 80.5463 71.7998 81.0151C72.9717 81.5619 73.5186 82.8901 73.0498 84.0619L69.6905 91.7963C68.8311 93.8276 67.1123 95.312 65.0811 96.0151C64.2217 96.3276 63.4405 96.4838 62.6592 96.4838Z' fill='#131921')
                      path(d='M83.5951 81.6409C82.4233 81.6409 81.4076 80.7034 81.2514 79.5315C81.0951 78.2815 82.0326 77.1097 83.3608 76.9534C84.2201 76.8753 84.9233 76.4847 85.4701 75.7815C85.9389 75.0784 86.1733 74.2972 85.9389 73.4378L84.142 65.1565C83.517 62.5003 84.4545 59.6878 86.4858 57.8128L92.8139 52.1878C93.4389 51.6409 93.8295 50.8597 93.8295 50.0003C93.8295 49.1409 93.517 48.3597 92.8139 47.8128L86.4858 42.1878C84.4545 40.3909 83.517 37.5784 84.142 34.844L85.9389 26.5628C86.0951 25.7034 85.9389 24.9222 85.4701 24.219C85.0014 23.5159 84.2201 23.1253 83.3608 23.0472C82.1108 22.8909 81.0951 21.7972 81.2514 20.469C81.4076 19.219 82.5014 18.2034 83.8295 18.3597C86.017 18.594 87.9701 19.6878 89.2201 21.4847C90.4701 23.2815 90.9389 25.469 90.4701 27.5784L88.6733 35.8597C88.4389 36.8753 88.8295 37.969 89.6108 38.6722L95.9389 44.2972C97.5795 45.7034 98.517 47.8128 98.517 50.0003C98.517 52.1878 97.5795 54.219 95.9389 55.7034L89.6108 61.3284C88.8295 62.0315 88.4389 63.1253 88.6733 64.1409L90.4701 72.4222C90.9389 74.5315 90.4701 76.7972 89.2201 78.5159C87.9701 80.3128 85.9389 81.4065 83.8295 81.6409C83.7514 81.6409 83.6733 81.6409 83.5951 81.6409Z' fill='#131921')
                      path(d='M70.8627 19.1411C69.9252 19.1411 69.0659 18.5942 68.6752 17.7348L65.3158 10.0004C65.0033 9.21919 64.3784 8.67231 63.519 8.35981C62.7377 8.12544 61.8784 8.20356 61.1752 8.59419L53.9096 12.8911C51.5658 14.2973 48.5971 14.2973 46.1752 12.8911L38.8315 8.59419C38.1283 8.20356 37.269 8.04731 36.4877 8.35981C35.7065 8.59419 35.0815 9.21919 34.6908 10.0004C34.144 11.1723 32.8158 11.7192 31.644 11.2504C30.4721 10.7036 29.9252 9.37544 30.394 8.20356C31.2533 6.09419 32.9721 4.53169 35.0033 3.90669C37.0346 3.20356 39.3002 3.51606 41.1752 4.60981L48.4408 8.90669C49.3783 9.45356 50.4721 9.45356 51.4096 8.90669L58.6752 4.60981C60.5502 3.51606 62.8158 3.28169 64.8471 3.90669C66.8783 4.53169 68.5971 6.09419 69.4565 8.12544L72.8158 15.8598C73.3627 17.0317 72.8158 18.4379 71.5658 18.9067C71.4877 19.0629 71.1752 19.1411 70.8627 19.1411Z' fill='#131921')
                      path(d='M96.875 99.2191C96.25 99.2191 95.7031 98.9847 95.2344 98.5159L86.9531 90.3128C86.0156 89.3753 86.0156 87.8909 86.9531 87.0316C87.8906 86.1722 89.375 86.0941 90.2344 87.0316L98.5156 95.2347C99.4531 96.1722 99.4531 97.6566 98.5156 98.5159C98.0469 98.9847 97.5 99.2191 96.875 99.2191Z' fill='#131921')
                      path(d='M90.625 11.7188C90 11.7188 89.4531 11.4844 88.9844 11.0156C88.0469 10.0781 88.0469 8.59375 88.9844 7.73437L95.2344 1.48438C96.1719 0.546875 97.6562 0.546875 98.5156 1.48438C99.4531 2.42188 99.4531 3.90625 98.5156 4.76562L92.2656 11.0156C91.7969 11.4844 91.25 11.7188 90.625 11.7188Z' fill='#131921')
                      path(d='M10.3906 12.7344C9.76562 12.7344 9.21875 12.5 8.75 12.0312L1.48438 4.76562C0.546875 3.82812 0.546875 2.34375 1.48438 1.48438C2.34375 0.546875 3.90625 0.546875 4.76562 1.48438L12.0312 8.75C12.9688 9.6875 12.9688 11.1719 12.0312 12.0312C11.6406 12.5 11.0156 12.7344 10.3906 12.7344Z' fill='#FF741F')
                      path(d='M18.75 5.46875C20.0444 5.46875 21.0938 4.41942 21.0938 3.125C21.0938 1.83058 20.0444 0.78125 18.75 0.78125C17.4556 0.78125 16.4062 1.83058 16.4062 3.125C16.4062 4.41942 17.4556 5.46875 18.75 5.46875Z' fill='#FF741F')



                  .advantages__link-title E-commerce на <br> любой рынок   
                  .advantages__link-desc Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой
                  .advantages__link-arrow Связаться с нами

        .counts
          .counts__item-wrap
            mixin count(num, title)
              .counts__item
                .count=num
                .counts__title!=title 
            +count('5','лет опыта на <br> рынке')
            +count('1745','выполненных <br> проектов')
            +count('237','проверенных <br> поставщиков')
            +count('14','стран <br> поставщиков')

    .providers#partners
      .title-wrap.title-wrap--centered
        h2.title
          span Наши поставщики
            span.title-paraphernalia 
      .providers__slider 
        .swiper.providers-slider
          .swiper-wrapper
            mixin provider(img)
              .swiper-slide
                .providers__item
                  img(src=`img/brand`+img+`.webp`, alt="") 
            +provider(1)
            +provider(2)
            +provider(3)
            +provider(4)
            +provider(5)
            +provider(6)
            +provider(7)
            +provider(8)
            +provider(9)
            +provider(10)
            +provider(11)
            +provider(12)

    .about#about
      .container
        .title-wrap.title-wrap--left
          h2.title
            span О компании
              span.title-paraphernalia
      .about__wrap 
        .container      
          .about__desc 
            p AZOR Импорт поддерживает международные компании при выходе на рынки России, Германии, Турции, Беларуси, Казахстана, России, Украины и Узбекистана, а также помогает им эффективно строить работу в новых юрисдикциях.
            p В портфолио AZOR Импорт полный набор услуг, начиная от анализа рынка и поиска партнеров, до комплексного бухгалтерского сопровождения, юридического и налогового консалтинга, анализа эффективности бизнес-процессов и их оптимизации на основе лучших цифровых решений. Мы берем на себя решение всех непрофильных задач, чтобы наши клиенты могли сфокусироваться на развитии бизнеса.
            p Свяжитесь с нашими экспертами, чтобы получить подробную информацию об оказании интересующих Вас услуг в конкретной стране.

        .about__bg 
          img(src="img/about.webp", alt="")
      .feedback#feedback
        .container
          .feedback__col-wrap
            .feedback__col
              .title-wrap.title-wrap--left
                h2.title
                  span Свяжитесь с нами <br> для сотрудничества 
                    span.title-paraphernalia
              .feedback__desc   
                p Наши пратнеры в разных точках планеты, помогут с безопасной разгрузкой, доставкой, погрузкой до необходимого места, по запросу наших клиентов и партнеров.
            .feedback__col
              .feedback__form-title Заполните форму <br> для обратной связи
              form.feedback__form
                .feedback__form-group
                  .select 
                    input(type="hidden" value="Физическое лицо").select__input
                    .select__selected Физическое лицо
                    .select__dropdown
                      .select__option(data-value="Физическое лицо") Физическое лицо
                      .select__option(data-value="Юридическое лицо") Юридическое лицо
                .feedback__form-group
                  input(type="text" name="email" placeholder="Email" id="email")
                .feedback__form-group
                  input(type="text" name="Имя/Компания" placeholder="Имя/Компания")
                .feedback__form-group
                  input(type="text" name="Номер телефона" placeholder="Номер телефона")
                button(type="submit").btn.btn--dark Отправить  
    
    footer.footer#contacts
      .footer__top
        .container
          .footer__col-wrap
            .footer__col
              a(href="#").footer__logo
                img(src="img/footer-logo.webp", alt="") 
              .footer__info 
                p Эффективно решаем задачи экспорта в Россию и ЕАЭС <br> благодаря международной экспертизе и  широкому пулу <br> партнеров и подрядчиков в странах нашего присутствия. 
              ul.social
                mixin social(icon, link)
                  li
                    a(href=link)
                      i(class="icon-"+icon)
                +social('paper-plane','#')      
                +social('whatsapp','#')      
                +social('instagram','#')      
                +social('facebook','#')      
                +social('youtube-play','#')      
            
            .footer__col
              #map

      .footer__bottom
        .container
          .footer__col-wrap
            .footer__col © 2022 AZOR. Все права защищены.
            .footer__col 
              a(href="#") Договор оферты
              a(href="#") Пользовательское соглашение 

    script(src="https://code.jquery.com/jquery-3.6.0.js")   
    script(src="https://unpkg.com/swiper@8/swiper-bundle.min.js")   
    script(src="scripts.js")
